In [1]:
import pandas as pd
import numpy as np
import enchant   #for checking spelling

In [2]:
#Let's declare the null values

null_values = ['na','N/a','NaN',np.nan]

In [3]:
#Now let's import the data

In [4]:
data = pd.read_csv('datathon data.csv',na_values =null_values)

In [5]:
data.head(5)     #Checks the first 5 rows of the data

,id,squad,year,players,age,possesion,matches_played,starts,min_playing_time,minutes_played_90s,...,yellow_cards,red_cards,goals_per_90,assists_per_90,goals_plus_assists_per_90,goals_minus_penalty_kicks_per_90,goals_plus_assists_minus_penalty_kicks_per_90,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,1,Argentina,2019,18,26.8,34.7,3,33,270,3.0,...,3.0,0.0,0.67,0.33,1.00,0.33,0.67,NaN,NaN,NaN
1,2,Australia,2019,18,25.4,61.3,4,44,390,4.3,...,2.0,0.0,1.85,0.92,2.77,1.85,2.77,NaN,NaN,NaN
2,3,Brazil,2019,18,29.7,51.5,4,44,390,4.3,...,7.0,0.0,1.62,0.69,2.31,1.15,1.85,NaN,NaN,NaN
3,4,Cameroon,2019,20,27.7,36.0,4,44,360,4.0,...,6.0,0.0,0.75,0.75,1.50,0.75,1.50,NaN,NaN,NaN
4,5,Canada,2019,16,27.0,63.0,4,44,360,4.0,...,2.0,0.0,1.00,0.75,1.75,1.00,1.75,NaN,NaN,NaN

In [6]:
data.tail(5)     #Checks the last 5 rows of the data.

,id,squad,year,players,age,possesion,matches_played,starts,min_playing_time,minutes_played_90s,...,yellow_cards,red_cards,goals_per_90,assists_per_90,goals_plus_assists_per_90,goals_minus_penalty_kicks_per_90,goals_plus_assists_minus_penalty_kicks_per_90,Unnamed: 22,Unnamed: 23,Unnamed: 24
131,132,New Zealand,1991,15,25.5,NaN,3,33,240,2.7,...,NaN,NaN,0.37,0.37,0.75,0.37,0.75,NaN,NaN,NaN
132,133,Nigeria,1991,17,18.2,NaN,3,33,240,2.7,...,NaN,NaN,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN
133,134,Norway,1991,15,24.1,NaN,6,66,500,5.6,...,NaN,NaN,2.34,1.08,3.42,2.16,3.24,NaN,NaN,NaN
134,135,Sweden,1991,18,25.4,NaN,6,66,480,5.3,...,NaN,NaN,3.19,2.06,5.25,3.00,5.06,NaN,NaN,NaN
135,136,USA,1991,16,23.0,NaN,6,66,480,5.3,...,NaN,NaN,4.69,2.06,6.75,4.50,6.56,NaN,NaN,NaN

In [7]:
data.shape

(136, 25)

In [8]:
#Checking for duplicates

data.duplicated().sum()

0

The Data Contains no duplicate values

In [9]:
#Data has Unnamed colums,let's get rid of them


data = data.loc[:, ~data.columns.str.contains('^Unnamed')]

In [10]:
data.head(2)

,id,squad,year,players,age,possesion,matches_played,starts,min_playing_time,minutes_played_90s,...,non_penalty_goals,penalty_kicks_made,penalty_kicks_attempted,yellow_cards,red_cards,goals_per_90,assists_per_90,goals_plus_assists_per_90,goals_minus_penalty_kicks_per_90,goals_plus_assists_minus_penalty_kicks_per_90
0,1,Argentina,2019,18,26.8,34.7,3,33,270,3.0,...,1,1,1,3.0,0.0,0.67,0.33,1.00,0.33,0.67
1,2,Australia,2019,18,25.4,61.3,4,44,390,4.3,...,8,0,1,2.0,0.0,1.85,0.92,2.77,1.85,2.77

Unnamed columns have been removed

In [11]:
#Checking for null values

data.isnull().sum()

id                                                0
squad                                             0
year                                              0
players                                           0
age                                               0
possesion                                        40
matches_played                                    0
starts                                            0
min_playing_time                                  0
minutes_played_90s                                0
goals                                             0
assists                                           0
non_penalty_goals                                 0
penalty_kicks_made                                0
penalty_kicks_attempted                           0
yellow_cards                                     74
red_cards                                        74
goals_per_90                                      0
assists_per_90                                    0
goals_plus_assists_per_90                         0
goals_minus_penalty_kicks_per_90                  0
goals_plus_assists_minus_penalty_kicks_per_90     0
dtype: int64

The data has 40 null values in the possesion column and 74 null values each in the yellow cards and red cards columns respectively

In [12]:
# But first possesion is a wrong spelling ,now Let's correct it!

data.rename(columns={'possesion': 'possession'}, inplace=True)

In [13]:
data.columns

Index(['id', 'squad', 'year', 'players', 'age', 'possession', 'matches_played',
       'starts', 'min_playing_time', 'minutes_played_90s', 'goals', 'assists',
       'non_penalty_goals', 'penalty_kicks_made', 'penalty_kicks_attempted',
       'yellow_cards', 'red_cards', 'goals_per_90', 'assists_per_90',
       'goals_plus_assists_per_90', 'goals_minus_penalty_kicks_per_90',
       'goals_plus_assists_minus_penalty_kicks_per_90'],
      dtype='object')

The spelling error has been rectified

# Filling up the null values;

We can fill the yellow cards and red cards columns with zero but the possession value can not be zero so we fill up with mean of the total possesssions

In [14]:
data['yellow_cards'].fillna(0, inplace=True)

In [15]:
data['red_cards'].fillna(0, inplace=True)

In [16]:
#For the possession column,let's declare a value for mean

mean_possession = data['possession'].mean()

In [17]:
data['possession'].fillna(mean_possession, inplace=True)

In [18]:
data.isnull().sum()

id                                               0
squad                                            0
year                                             0
players                                          0
age                                              0
possession                                       0
matches_played                                   0
starts                                           0
min_playing_time                                 0
minutes_played_90s                               0
goals                                            0
assists                                          0
non_penalty_goals                                0
penalty_kicks_made                               0
penalty_kicks_attempted                          0
yellow_cards                                     0
red_cards                                        0
goals_per_90                                     0
assists_per_90                                   0
goals_plus_assists_per_90                        0
goals_minus_penalty_kicks_per_90                 0
goals_plus_assists_minus_penalty_kicks_per_90    0
dtype: int64

No null values present

Now, Let's check for spelling error

In [19]:
import pandas as pd
import enchant

# create an enchant dictionary
d = enchant.Dict("en_US")

# loop through all string columns and detect misspelled words
for col in data.select_dtypes(include=['object']).columns:
    for i, val in enumerate(data[col]):
        words =val
        for word in words:
            if not d.check(word):
                print(f"Misspelled word '{word}' found in row {i} of column '{col}'")

Misspelled word '?' found in row 31 of column 'squad'
Misspelled word ''' found in row 31 of column 'squad'

A spelling error is detected in row 31

In [20]:
print(data.iloc[31])

id                                                          32
squad                                            C?te d'Ivoire
year                                                      2015
players                                                     19
age                                                       25.0
possession                                                45.0
matches_played                                               3
starts                                                      33
min_playing_time                                           270
minutes_played_90s                                         3.0
goals                                                        3
assists                                                      0
non_penalty_goals                                            3
penalty_kicks_made                                           0
penalty_kicks_attempted                                      0
yellow_cards                                               8.0
red_cards                                                  0.0
goals_per_90                                               1.0
assists_per_90                                             0.0
goals_plus_assists_per_90                                  1.0
goals_minus_penalty_kicks_per_90                           1.0
goals_plus_assists_minus_penalty_kicks_per_90              1.0
Name: 31, dtype: object

At row 31, cote d'ivoire has been spelt incorrectly

In [21]:
# Correcting this spelling

data.loc[31, 'squad'] = 'Cote d\'Ivoire'

In [22]:
data.iloc[31]

id                                                          32
squad                                            Cote d'Ivoire
year                                                      2015
players                                                     19
age                                                       25.0
possession                                                45.0
matches_played                                               3
starts                                                      33
min_playing_time                                           270
minutes_played_90s                                         3.0
goals                                                        3
assists                                                      0
non_penalty_goals                                            3
penalty_kicks_made                                           0
penalty_kicks_attempted                                      0
yellow_cards                                               8.0
red_cards                                                  0.0
goals_per_90                                               1.0
assists_per_90                                             0.0
goals_plus_assists_per_90                                  1.0
goals_minus_penalty_kicks_per_90                           1.0
goals_plus_assists_minus_penalty_kicks_per_90              1.0
Name: 31, dtype: object

Spelling error is now corrected!

In [23]:
data.head(3)

,id,squad,year,players,age,possession,matches_played,starts,min_playing_time,minutes_played_90s,...,non_penalty_goals,penalty_kicks_made,penalty_kicks_attempted,yellow_cards,red_cards,goals_per_90,assists_per_90,goals_plus_assists_per_90,goals_minus_penalty_kicks_per_90,goals_plus_assists_minus_penalty_kicks_per_90
0,1,Argentina,2019,18,26.8,34.7,3,33,270,3.0,...,1,1,1,3.0,0.0,0.67,0.33,1.00,0.33,0.67
1,2,Australia,2019,18,25.4,61.3,4,44,390,4.3,...,8,0,1,2.0,0.0,1.85,0.92,2.77,1.85,2.77
2,3,Brazil,2019,18,29.7,51.5,4,44,390,4.3,...,5,2,3,7.0,0.0,1.62,0.69,2.31,1.15,1.85

 The age column is in the 'float' format, this is very incorrect and should be converted to 'int'(integer)

In [24]:
#Converting to int

data['age'] = data['age'].astype(int)

In [25]:
data.head(3)

,id,squad,year,players,age,possession,matches_played,starts,min_playing_time,minutes_played_90s,...,non_penalty_goals,penalty_kicks_made,penalty_kicks_attempted,yellow_cards,red_cards,goals_per_90,assists_per_90,goals_plus_assists_per_90,goals_minus_penalty_kicks_per_90,goals_plus_assists_minus_penalty_kicks_per_90
0,1,Argentina,2019,18,26,34.7,3,33,270,3.0,...,1,1,1,3.0,0.0,0.67,0.33,1.00,0.33,0.67
1,2,Australia,2019,18,25,61.3,4,44,390,4.3,...,8,0,1,2.0,0.0,1.85,0.92,2.77,1.85,2.77
2,3,Brazil,2019,18,29,51.5,4,44,390,4.3,...,5,2,3,7.0,0.0,1.62,0.69,2.31,1.15,1.85

In [26]:
#Let's do the same for the minutes played-90s column to make the data look even cleaner


data['minutes_played_90s'] = data['minutes_played_90s'].astype(int)

In [27]:
data.head(2)

,id,squad,year,players,age,possession,matches_played,starts,min_playing_time,minutes_played_90s,...,non_penalty_goals,penalty_kicks_made,penalty_kicks_attempted,yellow_cards,red_cards,goals_per_90,assists_per_90,goals_plus_assists_per_90,goals_minus_penalty_kicks_per_90,goals_plus_assists_minus_penalty_kicks_per_90
0,1,Argentina,2019,18,26,34.7,3,33,270,3,...,1,1,1,3.0,0.0,0.67,0.33,1.00,0.33,0.67
1,2,Australia,2019,18,25,61.3,4,44,390,4,...,8,0,1,2.0,0.0,1.85,0.92,2.77,1.85,2.77

In [28]:
#Now for yellow cards,red cards and goals plus assists per 90

data['yellow_cards'] = data['yellow_cards'].astype(int)
data['red_cards'] = data['red_cards'].astype(int)
data['goals_plus_assists_per_90'] = data['goals_plus_assists_per_90'].astype(int)

In [29]:
data.head(2)

,id,squad,year,players,age,possession,matches_played,starts,min_playing_time,minutes_played_90s,...,non_penalty_goals,penalty_kicks_made,penalty_kicks_attempted,yellow_cards,red_cards,goals_per_90,assists_per_90,goals_plus_assists_per_90,goals_minus_penalty_kicks_per_90,goals_plus_assists_minus_penalty_kicks_per_90
0,1,Argentina,2019,18,26,34.7,3,33,270,3,...,1,1,1,3,0,0.67,0.33,1,0.33,0.67
1,2,Australia,2019,18,25,61.3,4,44,390,4,...,8,0,1,2,0,1.85,0.92,2,1.85,2.77

Let's do one more run

In [30]:
data.isnull().sum()

id                                               0
squad                                            0
year                                             0
players                                          0
age                                              0
possession                                       0
matches_played                                   0
starts                                           0
min_playing_time                                 0
minutes_played_90s                               0
goals                                            0
assists                                          0
non_penalty_goals                                0
penalty_kicks_made                               0
penalty_kicks_attempted                          0
yellow_cards                                     0
red_cards                                        0
goals_per_90                                     0
assists_per_90                                   0
goals_plus_assists_per_90                        0
goals_minus_penalty_kicks_per_90                 0
goals_plus_assists_minus_penalty_kicks_per_90    0
dtype: int64

In [31]:
#Now that the data is completely clean, we can export

data.to_csv('Adjusted.csv')